:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color_warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dec1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #677483;
    --color-background: #f6f6f9;
    
    --card-border-radious: 2rem;
    --border-radious-1: 0.4rem;
    --border-radious-2: 0.8rem;
    --border-radious-3: 1.2rem;
    
    --card-padding: 1.8rem;
    --pasdding-1: 1.2rem;
    
    --box-shadow: 0 2rem 3rem var(var(--color-light))
    }
    *{
    margin: 0%;
    padding: 0%;
    outline: 0%;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    }
    html{
    font-size: 14px;
    }
    body{
    
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    
    }
    .container{
    display: grid;
    width: 96%;
    position: relative;
    margin: 0 auto;
    background: #65fcca;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
    }
    a{
    color: var(--color-dark);
    }
    img{
    display: block;
    height: 10%;
    width: 100%;
    background: white;
    
    }
    h1{
    font-weight: 800;
    font-size: 1.8rem;
    }
    h2{
    font-size: 1.4rem;
    }
    h3{
    font-size: 0.87rem;
    }
    h4{
    font-size: 0.8rem;
    }
    h5{
    font-size: 0.77rem;
    }
    small{
    font-size: 0.76rem;
    }
    /* .profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
    } */
    .text-muted{
    color: var(--color-info-dark);
    }
    p{
    color: var(--color-dark );
    }
    .primary{
    color: var(--color-primary);
    }
    .danger{
    color: var(--color-danger);
    }
    .success{
    color: var(--color-success);
    }
    .warning{
    color: var(--color_warning );
    }
    aside{
    width: 30vh;
    height: 100vh;
    }
    aside .top{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    }
    aside .logo{
    display: flex;
    gap: 0.8rem;
    }
    aside .logo img{
    width: 2rem;
    height: 2rem;
    }
    aside .close{
    display: none;
    }
    aside .sidebar{
    background:white;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    }
    aside h3{
    font-weight: 500;
    }
    aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
    }
    .emailsearch input{
    width: 300px;
    height: 40px;

    border-radius: 15px;
    
    }
    .numbersearch input{
    width: 300px;
    height: 40px;
    position: relative;
    
    border-radius: 15px;
    
    }
    .usersearch input{
    width: 300px;
    
    height: 40px;
    border-radius: 15px;
    
    }
    .detail{
    position: relative;
    left: 100px;
    flex-direction: row;
    top: 50px;
    }
    .srcbtn input{
    width: 60px;
    height: 30px;
    background-color: #96e2f5;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 80px;
    }
    .imary{
        background-color: #7380ec;
        width: 60px;
        height: 20px;
        margin-left: 50px;
        border-radius: 5px;
    }
    .dimary{
        background-color: #e9331b;
        width: 60px;
        height: 20px;
        border-radius: 5px;
    }
    table {

        width: 100%;
        border: 2px solid black;
      }
      
      th {
        height: 40px;
        border:2px solid black ;
      }
      td {
        height: 30px;
        border:2px solid black ;
      }
      label{
        color: #ad2d38;
        font-size: 16px;
      }